@import "__init.styl"

section#main > article#locations
  & fieldset
    background: BACKGROUND
    border-bottom: 1px solid darken(BACKGROUND, 5%)


.map
  position: relative !important
  left: 0px
  top: 0px
  height: 128px
  width: inherit
  display: block
  z-index: 1980
  // position: absolute
  // left: 0
  // top: 0
  // width: 128px
  // height: 128px
  // display: block
  // overflow: hidden

