<aside id="menu">
    <header data-title="Menu">
        <nav class="right">
            <a href="#" data-view-article="settings" data-title="Settings" data-icon="cog"></a>
        </nav>
    </header>

    <article class="list scroll active">
        <ul>
            <li data-view-article="locations" data-title="Buscador">
                <div class="tag right" data-role="locations">0</div>
                <strong>Buscador</strong>
            </li>

            <div id="favorite-lines">
                <li class="anchor">Lineas Favoritas</li>
                <li data-view-article="explore">
                    <strong>Bilbao-Galdakao</strong>
                    <span class="tag right">3631</span>
                </li>
                <li data-view-article="explore">
                    <strong>Durango-Bilbao</strong>
                    <span class="tag right">3911</span>
                </li>
            </div>



            <li class="anchor">Paradas Favoritas</li>
            <li data-action="profile">
                <strong>Gasolinera</strong>
                <span class="tag right">300 m</span>
                <small>Lemoa</small>
            </li>
        </ul>
    </article>
</aside>
