<aside id="menu">
    <header data-title="Menu">
        <nav class="right">
            <a href="#" data-view-article="settings" data-title="Settings" data-icon="cog"></a>
        </nav>
    </header>

    <article class="list scroll active">
        <ul>
            <li data-view-article="locations" data-title="Buscador" data-icon="search">
                <strong>Buscador</strong>
                <small>Encuentra la linea que necesites</small>
            </li>

            <div id="favorite-stops">
                <li class="anchor color theme text bold" data-icon="star">Paradas Favoritas</li>
                <ul></ul>
            </div>
        </ul>
    </article>
</aside>
