  <section id="search" data-transition="cover">
    <header data-title="Find people" data-back="chevron-down"></header>

    <article id="results" class="scroll list">
        <div class="form">
            <fieldset>
                <input type="search" class="inline left" placeholder="mail or nickname" />
                <button data-action="search" class="small color inline right" data-label="Search"></button>
            </fieldset>
        </div>
        <ul class="results"></ul>
    </article>
</section>
